.about-us {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
}

.meeting-card {
    color: rgb(24, 75, 133);
    padding: 2rem;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.7);
    font-size: 1.5rem;
    background: rgba(255, 255, 255, .7);
}

.meeting-card p {
    font-weight: 900;
    color: rgb(24, 75, 133);
}


.work-free {
    min-height: 80vh;
}

.work-info {
    min-height: 80vh;
}

.background {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('https://images.pexels.com/photos/3182759/pexels-photo-3182759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
}

.info-card {
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, .5);
}

.info-card h2 {
    background: #527fb3e8;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2rem 0;
    color: white;
}

.info-body {
    padding: 1.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    color: lightcyan;
    background: rgba(0, 0, 0, .7);
}

.icons-container {
    display: flex;
    justify-content: space-around;
}

.icons {
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(16, 17, 17, 0.781);
    border-radius: 50%;
}

.icons i {
    font-size: 2.5rem;
    color: #00acee;
    margin-bottom: .5rem;
}

.icons h3 {
    color: white;
}

.banner {
    padding: 2rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    background: rgb(42, 102, 170);
}

.img-container {
    display: flex;
}

.office {
    background: rgb(12, 12, 17);
    text-align: center;
    color: white;
}

.office h2 {
    padding: 1rem;
    text-decoration: underline;
}

.office p {
    padding: 1.5rem;
    font-weight: bold;
}

.offices-img {
    width: 450px;
    height: 450px;
}

.info-container {
    display: flex;
}

.fun-img {
    max-width: 700px;
    max-height: 700px;
}

.svg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(13, 77, 117);
    color: white;
}
.svg {
    width: 100%;
    background: lightblue;
    height: 100%;
}

.fun-description {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    background: rgba(0, 0, 0, .7);
}

.join-us {
    background: darkcyan;
}

.join-us span {
    color: rgb(116, 17, 37);
    cursor: pointer;
    transition: all 250ms ease;
}

.join-us span:hover {
    color: crimson;
}

@media (max-width: 1200px) {
    .img-container {
        max-width: 100%;
        overflow-x: scroll;
    }

    .img-container::-webkit-scrollbar {
        width: .2rem;
        height: .5rem;
        background: rgba(214, 209, 209, 0.582);
    }

    .img-container::-webkit-scrollbar-thumb {
        background: #00acee;
        border-radius: 1rem;
    }

    .office {
        width: 100%;
    }
    
    .offices-img {
        width: 350px;
        height: 350px;
    }
    
}

@media (max-width: 850px) {
    .meeting-card h2 {
        font-size: 2rem;
    }

    .meeting-card p {
        font-size: 1.2rem;
    }

    .banner {
        font-size: 1.3rem;
    }

    .office h2 {
        font-size: 1.3rem;

    }

    .icons {
        width: 8rem;
        height: 8rem;
    }

    .icons i {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .offices-img {
        width: 250px;
        height: 250px;
    }

    .info-card h2 {
        font-size: 1.3rem;
    }

    .icons {
        width: 5rem;
        height: 5rem;
    }
    .icons i {
        font-size: 1.3rem;
    }
    .icons h3 {
        font-size: .8rem;
    }

    .info-body p {
        font-size: .8rem;
    }
}

@media (max-width: 500px) {
    .info-card h2 {
        font-size: 1rem;
    }

    .icons {
        width: 4rem;
        height: 4rem;
    }
    .icons i {
        font-size: 1rem;
    }
    .icons h3 {
        font-size: .7rem;
    }
}